- @user ||= current_user
.stats
  %table.info
    %tr
      %td
        = link_to tweets_path(@tweets) do
          %p
            = @tweets.count
          %p
            Tweet
      %td
        %a{:href => following_user_path(@user)}
          %strong#following.stat
            = @user.following.count
          Following
      %td
        %a{:href => followers_user_path(@user)}
          %strong#followers.stat
            = @user.followers.count
          Followers
