%h3 Users
#users.stats
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Registered
        %th Tweets
        %th
        %th
    %tbody
      -@users.delete current_user
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user.tweets.count
          %td





