- provide(:title, @title)
- content_for(:side_bar) do
  %section
    = gravatar_for @user
    %h1= @user.name
    %span= link_to "view my profile", @user
  %section    
    = render 'users/stats'